<footer class=”panel-footer”>
    <!--div class=”container”-->
        <p class="text-center">Calle Hermanos Catari 110 -Maranga- San Miguel<br>
            Central:+51 (1) 578-2690 Celular:+51 998116280<br>
            Email: consultas@osisonline.com<br><br>
            © Copyright 2014 por Osis SAC. Todos los derechos reservados.
        </p>
    <!--/div-->
</footer>