<div class="row top-nav navbar-fixed-top">
    <div class="container">
        <a href="https://osispersonality.mybluemix.net/" class="top-nav--logo-link">
            <h3 class="heading left">
                <span class="top-nav--logo-wdc"></span>
            </h3>
        </a>
        <nav class="top-nav--nav">
            <li class="top-nav--nav-item"><a href="#">¿Qu&eacute; es OSISPersonality?</a></li>
            <li class="top-nav--nav-item"><a href="#">Servicio</a></li>
            <li class="top-nav--nav-item"><a href="/contactenos">Cont&aacute;ctenos</a></li>
            <!--<li class="top-nav&#45;&#45;nav-item"><a href="http://developer.ibm.com/watson/">Community</a></li>-->
        </nav>
    </div>
</div>